.settings {
    background-color: gray; /* Add an active/current color */
}


.container{
	background-color: rgba(255, 255, 255, 0.85); 
    max-width: 600px;
    border-radius: 10px;
    overflow-y: auto;
    overflow-x: auto;
    height: 500px;
    margin-top: 50px;
    margin-left: 50px;
    margin-rigth: 50px;
    margin-bottom: 100px;
}

.submit{
	float: left;
}

.cancel{
	float: right;
	background-color: #D09CA8;
	color: white;
}

.buttons{
	margin-top: 50px;
}

