.main h2{
	color: white;
	text-align: center;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.main{
	padding-top: 20px;
	margin-bottom: 100px;
}

.applicant{
	background-color: white;
	height: auto;
	border: 1px #ccc solid;
	border-radius: 5px;
	margin-left: auto;
  	margin-right: auto;
  	margin-top: 30px;
  	width: 900px;
  	margin-bottom: 10px;
  	padding: 10px;
  	transition: box-shadow .3s;
}

.applicant:hover{
	box-shadow: 0 0 20px rgba(33,33,33,.2);
	cursor: pointer;
	background-color: #ccc;
}

.row.equal {
	display: flex;
	display: -webkit-flex;
	flex-wrap: wrap;
	align-items: center;
}