.mainInfoDesc{
	background-color: white;
	height: auto;
	border: 1px gray solid;
	border-radius: 3px;
	box-shadow: 0 0 1px black;
	width: 900px;
	min-width: 300px;
  	margin-top: 50px;
  	margin-left: auto;
  	margin-right: auto;
  	align: center;
  	padding-bottom: 20px;
}

.mainInfoDesc img{
	margin-left: 10px;
	border-radius: 1px;
	display: block;
	margin: auto;
}

.additionalInfo{
	background-color: white;
	height: auto;
	border: 1px gray solid;
	border-radius: 3px;
	box-shadow: 0 0 1px black;
	width: 900px;
	min-width: 300px;
  	margin-left: auto;
  	margin-right: auto;
  	align: center;
  	margin-top: 15px;
  	padding: 20px 20px 0px 20px;
  	margin-bottom: 100px;
}

.additionalInfo p{
	font-size: 16px;
	color: gray;
}

ul{
    padding-left: 10px;
}

#switchContent {
    overflow: hidden;
    line-height: 1em;
    height: 20em;
}

#showHide{
	background: none;
    color: inherit;
    border: none;
    font-size: 16px;
    cursor: pointer;
    outline: inherit;
    padding: 10px;
}

.show-more{
	text-align: center;
	transition: all 500ms linear;
}

.show-more:hover{
	background-color: #ccc;
	cursor: pointer;
}
